
a, h1 { 
text-decoration: blue;
color: rebeccapurple;
}

p {
    font-size: 25px;
    color: darkcyan
}

Figcaption {
    font-size: 16px;
}

Figure {
    margin-left: ; 
}
.photograph {
    color: purple;
    font-size: 14px;
}